@using DAM.Models
@using PagedList.Mvc
@model PagedList.IPagedList<DAM.Models.ViewModel.LichSuViewModel>

@{
    ViewBag.Title = "LichSuGiaoDich";
    Layout = "~/Views/Layout/TTTaiKhoanLayout.cshtml";
}

<link href="~/Content/LSGD/style.css" rel="stylesheet" />

<main class="table" id="customers_table">
    <section class="table__body">
        <table>
            <thead>
                <tr>
                    <th> Mã vé </th>
                    <th> hình ảnh</th>
                    <th>Tên phim</th>
                    <th> Tên rạp</th>
                    <th> giờ chiếu</th>
                    <th> Số ghế</th>
                    <th>Ngày đặt</th>
                    <th>Ngày chiếu </th>
                    <th> Tổng tiền</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.MaVe</td>
                        <td>
                            <img class="img_size" style="max-width:182px" src="@Url.Content("~/Content/MovieImages/" + item.HinhAnh)" />
                        </td>
                        <td>@item.TenPhim</td>
                        <td>@item.TenRap</td>
                        <td>@item.KhungGio</td>
                        <td>
                            @{
                                var maGheList = (item.MaGhe as List<string>) ?? new List<string>();
                                var maGheHtml = "";
                                if (maGheList != null && maGheList.Any())
                                {
                                    foreach (var maTL in maGheList)
                                    {
                                        maGheHtml += maTL + ", ";
                                    }
                                    // Loại bỏ dấu ',' ở cuối cùng nếu có
                                    maGheHtml = maGheHtml.TrimEnd(',', ' ');

                                }
                                <p>@maGheHtml</p>
                            }
                        </td>
                        <td>@item.NgayDat.ToString("dd/MM/yyyy")</td>
                        <td>@item.NgayChieu.ToString("dd/MM/yyyy")</td>
                        <td>@item.TongTien</td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
    <div class="blog-pagenat-wthree">
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("LichSuGiaoDich", new { page = page, @TenTK = ViewBag.TenTK }))
    </div>
</main>
<style>
    .table__body table thead tr th{
        text-align:center;
    }
    .table__body table tbody tr td{
        text-align:center;
    }
</style>






