@model DAM.Models.ViewModel.RapSCPhimViewModel

@{
    ViewBag.Title = "TaoMoi";
    Layout = "~/Views/Layout/ThongTinChiTietLayout.cshtml";
}
<body>
    <div class="col-sm-8 single-left">
        <h4 style="margin: 0 0 50px 0;" class="latest-text w3_latest_text">Đặt vé</h4>
        <div class="all-comments">
            @using (Html.BeginForm("ChonGhe", "Ve", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.MaPhim, "Mã phim", htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.MaPhim, ViewBag.MaPhim as SelectList, "- Chọn phim -", new { @class = "form-control", onchange = "showMaRap()" })
                            @Html.ValidationMessageFor(model => model.MaPhim, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.MaRap, "Mã rạp", htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.MaRap, ViewBag.MaRap as SelectList, "- Chọn rạp -", new { @class = "form-control", @disabled ="disabled",onchange = "showMaRap()" })
                            @Html.ValidationMessageFor(model => model.MaRap, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.MaSC, "Mã suất chiếu", htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.MaSC, ViewBag.MaSC as SelectList, "- Chọn suất chiếu -", new { @class = "form-control" , @disabled = "disabled", onchange = "showMaRap()" })
                            @Html.ValidationMessageFor(model => model.MaSC, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="DatVe" style="display:flex; justify-content: center;">
                    <input type="submit" value="Đặt vé" id="datVeButton" class="btn btn-warning" disabled />
                </div>
            }
        </div>
    </div>
    <script>
        function showMaRap() {
            var maPhimDropdown = document.getElementById("MaPhim");
            var maRapDropdown = document.getElementById("MaRap");
            var maSCDropdown = document.getElementById("MaSC");
            var datVeButton = document.getElementById("datVeButton");
            if (maPhimDropdown.value !== "") {
                maRapDropdown.disabled = false;
                maSCDropdown.disabled = false;
            } else {
                maRapDropdown.disabled = true;
                maRapDropdown.selectedIndex = 0; // Đặt lại giá trị rạp về giá trị mặc định
                maSCDropdown.disabled = true;
                maSCDropdown.selectedIndex = 0;
            }
            if (maPhimDropdown.value !== "" && maRapDropdown.value !== "" && maSCDropdown.value !== "") {
                datVeButton.disabled = false;
            } else {
                datVeButton.disabled = true;
            }
        }
    </script>
</body>
