@model DAM.Models.ViewModel.HoaDonViewModel

@{
    ViewBag.Title = "XuLyVe";
    Layout = "~/Views/Layout/DatVeLayout.cshtml";
}
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.all.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btn_ThanhToan").click(function (e) {
            e.preventDefault(); // Ngăn chặn form submit mặc định

            var formData = $("#purchaseForm").serialize(); // Lấy dữ liệu từ form

           $.ajax({
                url: '@Url.Action("XuLyHD", "DatVe")',
                type: 'POST',
                data: formData,
                success: function (response) {
                    if (response.success) {
                        Swal.fire({
                            title: 'Đặt vé thành công',
                            icon: 'success',
                            confirmButtonText: 'OK'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = '@Url.Action("Main", "Main")';
                            }
                        });
                    } else {
                        Swal.fire({
                            title: 'Đặt vé không thành công',
                            text: 'Có lỗi xảy ra',
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }
                },
                error: function () {
                    Swal.fire({
                        title: 'Đặt vé không thành công',
                        text: 'Có lỗi kết nối',
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                }
            });
        });
    });
</script>

<div style="width:100%;" class="col-sm-8 single-left">
    <h4 style="margin: 0 0 50px 0;" class="latest-text w3_latest_text">Đặt vé</h4>
    <div style="width:70%; margin:0 auto;" class="all-comments">
        <div style="" class="all-comments-info">
            <p style="font-size:25px; font-weight:bold; text-align: center">Thông tin chi tiết</p>
            <div class="agile-info-wthree-box">
                @using (Html.BeginForm("XuLyHD", "DatVe", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "purchaseForm" }))
                {
                    @Html.AntiForgeryToken()
                <div class="container-content" >
                    <div class="image-container">
                        <img style="max-width: 182px" src="@Url.Content("~/Content/MovieImages/" + Model.HinhAnh)" />
                    </div>
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <p class="ttPhim">Tên phim: @Model.TenPhim</p>
                        <p class="ttPhim">Tên rạp: @Model.TenRap</p>
                        <p class="ttPhim">Ghế đã chọn: @string.Join(",", Model.MaGhe)</p>
                        <p class="ttPhim">Khung giờ: @Model.KhungGio</p>
                        <p class="ttPhim">Giá vé: @Model.GiaVe / 1 ghế</p>
                        <p class="ttPhim">Tổng tiền: @Model.TongTien</p>

                        <div class="form-group">
                            <div class="col-md-8">
                                @Html.HiddenFor(model => model.MaPhim)
                                @Html.HiddenFor(model => model.MaRap)
                                @Html.HiddenFor(model => model.MaSC)
                                @for (int i = 0; i < Model.MaGhe.Count; i++)
                                {
                                    @Html.HiddenFor(model => model.MaGhe[i])
                                }
                                @Html.HiddenFor(model => model.TenPhim)
                                @Html.HiddenFor(model => model.TenRap)
                                @Html.HiddenFor(model => model.KhungGio)
                                @Html.HiddenFor(model => model.GiaVe)
                                @Html.HiddenFor(model => model.TongTien)
                                @Html.DropDownList("PPThanhToan", null, "- Chọn phương thức thanh toán -", htmlAttributes: new { @class = "form-control", @id = "dropdownTT", onchange = "showPPTT()" })
                            </div>
                        </div>
                        <input type="submit" style="margin-left: 17%;" id="btn_ThanhToan" value="Thanh toán" disabled class="hoverable" />
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>
<style>
    #btn_ThanhToan:disabled {
        pointer-events: none;
    }
</style>
<script>
    function showPPTT() {
        var ThanhToanDropdown = document.getElementById("dropdownTT");
        var ThanhToanButton = document.getElementById("btn_ThanhToan");

        if (ThanhToanDropdown.value != "") {
            ThanhToanButton.disabled = false;
        }
        else {
            ThanhToanButton.disabled = true;
        }

    }
</script>
<style>
    .container-content {
         display: flex;
        justify-content: space-around;
        margin-left: 15%;
    }
    .image-container{
        flex: 1;
    }
    .form-horizontal {
        flex: 1.5;
    }
</style>

