<!DOCTYPE html>
<html lang="en">
<head>
    <title>Searchphim.com</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="One Movies Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="~/Content/MainLayout/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/MainLayout/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/MainLayout/css/contactstyle.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/MainLayout/css/faqstyle.css" type="text/css" media="all" />
    <link href="~/Content/MainLayout/css/single.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/MainLayout/css/medile.css" rel='stylesheet' type='text/css' />
    <!-- banner-slider -->
    <link href="~/Content/MainLayout/css/jquery.slidey.min.css" rel="stylesheet">
    <!-- //banner-slider -->
    <!-- pop-up -->
    <link href="~/Content/MainLayout/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //pop-up -->
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="~/Content/MainLayout/css/font-awesome.min.css" />
    <!-- //font-awesome icons -->
    <!-- js -->
    <script type="text/javascript" src="~/Content/MainLayout/js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <!-- banner-bottom-plugin -->
    <link href="~/Content/MainLayout/css/owl.carousel.css" rel="stylesheet" type="text/css" media="all">
    <script src="~/Content/MainLayout/js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({

                autoPlay: 3000, //Set AutoPlay to 3 seconds

                items: 5,
                itemsDesktop: [640, 4],
                itemsDesktopSmall: [414, 3]

            });

        });
    </script>
    <!-- //banner-bottom-plugin -->
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/Content/MainLayout/js/move-top.js"></script>
    <script type="text/javascript" src="~/Content/MainLayout/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
</head>

<body>
    <!-- header -->
    <div class="header">
        <div class="container">
            <div class="w3layouts_logo">
                <a href="@Url.Action("Main","Main")"><img style="width:200px" src="~/Content/MainLayout/images/LogoWeb1.png" /></a>
            </div>
            <div class="w3_search">
                <form action="#" method="post">
                    <input type="text" name="Search" placeholder="Nhập từ khóa cần tìm" required="">
                    <input type="submit" value="Tìm kiếm">
                </form>
            </div>
            <div class="w3l_sign_in_register">
                <ul>
                    <li><i class="fa fa-phone" aria-hidden="true"></i> +84 123 345 653</li>
                    <li>
                        @*<a href="#" data-toggle="modal" data-target="#myModal">Login</a>*@
                        @Html.ActionLink("Đăng nhập", "DangNhap", "DangNhapDangKy", null, new { @class = "dangNhapLink" })
                    </li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //header -->
    <!-- bootstrap-pop-up -->
    @*<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        Sign In & Sign Up
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <section>
                        <div class="modal-body">
                            <div class="w3_login_module">
                                <div class="module form-module">
                                    <div class="toggle">
                                        <i class="fa fa-times fa-pencil"></i>
                                        <div class="tooltip">Click Me</div>
                                    </div>
                                    <div class="form">
                                        <h3>Login to your account</h3>
                                        <form action="#" method="post">
                                            <input type="text" name="Username" placeholder="Username" required="">
                                            <input type="password" name="Password" placeholder="Password" required="">
                                            <input type="submit" value="Login">
                                        </form>
                                    </div>
                                    <div class="form">
                                        <h3>Create an account</h3>
                                        <form action="#" method="post">
                                            <input type="text" name="Username" placeholder="Username" required="">
                                            <input type="password" name="Password" placeholder="Password" required="">
                                            <input type="email" name="Email" placeholder="Email Address" required="">
                                            <input type="text" name="Phone" placeholder="Phone Number" required="">
                                            <input type="submit" value="Register">
                                        </form>
                                    </div>
                                    <div class="cta"><a href="#">Forgot your password?</a></div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>*@
    <script>
        $('.toggle').click(function () {
            // Switches the Icon
            $(this).children('i').toggleClass('fa-pencil');
            // Switches the forms
            $('.form').animate({
                height: "toggle",
                'padding-top': 'toggle',
                'padding-bottom': 'toggle',
                opacity: "toggle"
            }, "slow");
        });
    </script>
    <!-- //bootstrap-pop-up -->
    <!-- nav -->
    <div class="movies_nav">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="navbar-header navbar-left">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                @*Collect the nav links, forms, and other content for toggling*@
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    @Html.Action("MenuTheLoaiPartial", "Main")
                    @*<nav>
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="index.html">Trang chủ</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Thể loại <b class="caret"></b></a>
                                    <ul class="dropdown-menu multi-column columns-3">
                                        <li>
                                            <div class="col-sm-10">
                                                <ul class="multi-column-dropdown">
                                                    <li><a href="genres.html">Lãng mạng</a></li>
                                                    <li><a href="genres.html">Trinh thám</a></li>
                                                    <li><a href="genres.html">Hoạt hình</a></li>
                                                    <li><a href="genres.html">Khoa học viễn tưởng</a></li>
                                                    <li><a href="horror.html">Kinh dị</a></li>
                                                    <li><a href="genres.html">Hài</a></li>
                                                    <li><a href="genres.html">Lịch sử</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#">Mua vé</a></li>
                                <li><a href="news.html">Tin tức</a></li>
                            </ul>
                        </nav>*@
                </div>
            </nav>
        </div>
    </div>
    @RenderBody();
    <!-- //nav 
     banner -->
    <div id="slidey" style="display:none;">
            <ul>
                <li><img src="~/Content/MainLayout/images/5.jpg" alt=" "><p class='title'>Tarzan</p><p class='description'> Tarzan, having acclimated to life in London, is called back to his former home in the jungle to investigate the activities at a mining encampment.</p></li>
                <li><img src="~/Content/MainLayout/images/2.jpg" alt=" "><p class='title'>Maximum Ride</p><p class='description'>Six children, genetically cross-bred with avian DNA, take flight around the country to discover their origins. Along the way, their mysterious past is ...</p></li>
                <li><img src="~/Content/MainLayout/images/3.jpg" alt=" "><p class='title'>Independence</p><p class='description'>The fate of humanity hangs in the balance as the U.S. President and citizens decide if these aliens are to be trusted ...or feared.</p></li>
                <li><img src="~/Content/MainLayout/images/4.jpg" alt=" "><p class='title'>Central Intelligence</p><p class='description'>Bullied as a teen for being overweight, Bob Stone (Dwayne Johnson) shows up to his high school reunion looking fit and muscular. Claiming to be on a top-secret ...</p></li>
                <li><img src="~/Content/MainLayout/images/6.jpg" alt=" "><p class='title'>Ice Age</p><p class='description'>In the film's epilogue, Scrat keeps struggling to control the alien ship until it crashes on Mars, destroying all life on the planet.</p></li>
                <li><img src="~/Content/MainLayout/images/7.jpg" alt=" "><p class='title'>X - Man</p><p class='description'>In 1977, paranormal investigators Ed (Patrick Wilson) and Lorraine Warren come out of a self-imposed sabbatical to travel to Enfield, a borough in north ...</p></li>
            </ul>
        </div>
    <!--<script src="~/Content/MainLayout/js/jquery.slidey.js"></script>
    <script src="~/Content/MainLayout/js/jquery.dotdotdot.min.js"></script>
    <script type="text/javascript">
        $("#slidey").slidey({
            interval: 4000,
            listCount: 5,
            autoplay: false,
            showList: true
        });
        $(".slidey-list-description").dotdotdot();
    </script>
     //banner 
     banner-bottom -->
    <div class="banner-bottom">
            <div class="container">
                <div class="w3_agile_banner_bottom_grid">
                    <div id="owl-demo" class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="w3l-movie-gride-agile w3l-movie-gride-agile1">
                                <a href="single.html" class="hvr-shutter-out-horizontal">
                                    <img src="~/Content/MainLayout/images/m13.jpg" title="album-name" class="img-responsive" alt=" " />
                                </a>
                                <div class="mid-1 agileits_w3layouts_mid_1_home">
                                    <div class="w3l-movie-text">
                                        <h6><a href="single.html">Citizen Soldier</a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    <!-- //banner-bottom 
    <div class="general_social_icons">
        <nav class="social">
            <ul>
                <li class="w3_twitter"><a href="#">Twitter <i class="fa fa-twitter"></i></a></li>
                <li class="w3_facebook"><a href="#">Facebook <i class="fa fa-facebook"></i></a></li>
                <li class="w3_dribbble"><a href="#">Dribbble <i class="fa fa-dribbble"></i></a></li>
                <li class="w3_g_plus"><a href="#">Google+ <i class="fa fa-google-plus"></i></a></li>
            </ul>
        </nav>
    </div>
     general -->
    <div class="general">
            <h4 class="latest-text w3_latest_text">Phim</h4>
            <div class="container">
                <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Đang chiếu</a></li>
                        <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">Sắp chiếu</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
                            <div class="w3_agile_featured_movies">
                                <div class="col-md-2 w3l-movie-gride-agile">
                                    <a href="single.html" class="hvr-shutter-out-horizontal">
                                        <img src="~/Content/MainLayout/images/m15.jpg" title="album-name" class="img-responsive" alt=" " />
                                        <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                                    </a>
                                    <div class="mid-1 agileits_w3layouts_mid_1_home">
                                        <div class="w3l-movie-text">
                                            <h6><a href="single.html">God’s Compass</a></h6>
                                        </div>
                                    </div>
                                </div>


                                <div class="clearfix"> </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
                            <div class="col-md-2 w3l-movie-gride-agile">
                                <a href="single.html" class="hvr-shutter-out-horizontal">
                                    <img src="~/Content/MainLayout/images/m22.jpg" title="album-name" class="img-responsive" alt=" " />
                                    <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                                </a>
                                <div class="mid-1 agileits_w3layouts_mid_1_home">
                                    <div class="w3l-movie-text">
                                        <h6><a href="single.html">Assassin's Creed 3</a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     //general 
     Latest-tv-series 
    @Html.Action("KhuyenMaiPartial", "KhuyenMai")
    <div class="Latest-tv-series">
        <h4 class="latest-text w3_latest_text w3_home_popular">Chương trình khuyến mãi</h4>
        <div class="container">
            <section class="slider">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="agile_tv_series_grid">
                                <div class="agileinfo_flexislider_grids">
                                    <div class="col-md-2 w3l-movie-gride-agile">
                                        <a href="single.html" class="hvr-shutter-out-horizontal">
                                            <img src="~/Content/MainLayout/images/m2.jpg" title="album-name" class="img-responsive" alt=" " />
                                            <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                                        </a>
                                        <div class="mid-1 agileits_w3layouts_mid_1_home">
                                            <div class="w3l-movie-text">
                                                <h6><a href="single.html">Bad Moms</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 w3l-movie-gride-agile">
                                        <a href="single.html" class="hvr-shutter-out-horizontal">
                                            <img src="~/Content/MainLayout/images/m9.jpg" title="album-name" class="img-responsive" alt=" " />
                                            <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                                        </a>
                                        <div class="mid-1 agileits_w3layouts_mid_1_home">
                                            <div class="w3l-movie-text">
                                                <h6><a href="single.html">Central Intelligence</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 w3l-movie-gride-agile">
                                        <a href="single.html" class="hvr-shutter-out-horizontal">
                                            <img src="~/Content/MainLayout/images/m7.jpg" title="album-name" class="img-responsive" alt=" " />
                                            <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                                        </a>
                                        <div class="mid-1 agileits_w3layouts_mid_1_home">
                                            <div class="w3l-movie-text">
                                                <h6><a href="single.html">Light B/t Oceans</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 w3l-movie-gride-agile">
                                        <a href="single.html" class="hvr-shutter-out-horizontal">
                                            <img src="~/Content/MainLayout/images/m11.jpg" title="album-name" class="img-responsive" alt=" " />
                                            <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                                        </a>
                                        <div class="mid-1 agileits_w3layouts_mid_1_home">
                                            <div class="w3l-movie-text">
                                                <h6><a href="single.html">X-Men</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 w3l-movie-gride-agile">
                                        <a href="single.html" class="hvr-shutter-out-horizontal">
                                            <img src="~/Content/MainLayout/images/m17.jpg" title="album-name" class="img-responsive" alt=" " />
                                            <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                                        </a>
                                        <div class="mid-1 agileits_w3layouts_mid_1_home">
                                            <div class="w3l-movie-text">
                                                <h6><a href="single.html">Peter</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 w3l-movie-gride-agile">
                                        <a href="single.html" class="hvr-shutter-out-horizontal">
                                            <img src="~/Content/MainLayout/images/m21.jpg" title="album-name" class="img-responsive" alt=" " />
                                            <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                                        </a>
                                        <div class="mid-1 agileits_w3layouts_mid_1_home">
                                            <div class="w3l-movie-text">
                                                <h6><a href="single.html">The Jungle Book</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
     flexSlider 
    <link rel="stylesheet" href="~/Content/MainLayout/css/flexslider.css" type="text/css" media="screen" property="" />
    <script defer src="~/Content/MainLayout/js/jquery.flexslider.js"></script>
    <script type="text/javascript">
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });
    </script>
     //flexSlider 
    </div>
    </div>
    <!-- pop-up-box -->
    <script src="~/Content/MainLayout/js/jquery.magnific-popup.js" type="text/javascript"></script>
    <!--//pop-up-box -->
    <div id="small-dialog" class="mfp-hide">
        <iframe src="https://player.vimeo.com/video/164819130?title=0&byline=0"></iframe>
    </div>
    <div id="small-dialog1" class="mfp-hide">
        <iframe src="https://player.vimeo.com/video/148284736"></iframe>
    </div>
    <div id="small-dialog2" class="mfp-hide">
        <iframe src="https://player.vimeo.com/video/165197924?color=ffffff&title=0&byline=0&portrait=0"></iframe>
    </div>
    <script>
        $(document).ready(function () {
            $('.w3_play_icon,.w3_play_icon1,.w3_play_icon2').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

        });
    </script>
    <!-- //Latest-tv-series -->
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="w3ls_footer_grid">
                <div class="col-md-6 w3ls_footer_grid_left">
                    <div class="w3ls_footer_grid_left1">
                        <h2>Đơn vị phát triển</h2>
                        <p style="color:white;">DEV TEAM Thích Sửa Lỗi FPL Tây Nguyên K18</p>
                        @*<div class="w3ls_footer_grid_left1_pos">
                                <form action="#" method="post">
                                    <input type="email" name="email" placeholder="Your email..." required="">
                                    <input type="submit" value="Send">
                                </form>
                            </div>*@
                    </div>
                </div>
                <div class="col-md-6 w3ls_footer_grid_right">
                    <a href="@Url.Action("Main","Main")">
                        <img style="width:100%" src="~/Content/MainLayout/images/LogoWeb.png" />
                    </a>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-5 w3ls_footer_grid1_left">
                <p>&copy; 2023 Thích Sửa Lỗi. All rights reserved | Design by <a href="#">Thích Sửa Lỗi</a></p>
            </div>
            <div class="col-md-7 w3ls_footer_grid1_right">
                <ul>
                    <li>
                        <a href="#">Về chúng tôi</a>
                    </li>
                    <li>
                        <a href="#">Câu hỏi thường gặp</a>
                    </li>
                    <li>
                        <a href="#">Hỗ trợ</a>
                    </li>
                    <li>
                        <a href="#">Chính sách</a>
                    </li>
                    <li>
                        <a href="#">Thỏa thuận</a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //footer -->
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/MainLayout/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //Bootstrap Core JavaScript -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
</body>
</html>
