@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Layout/MainLayout.cshtml";
}
<div id="slidey" style="display:none;">
    <ul>
        <li>
            <img src="~/Content/MainLayout/images/5.jpg" alt=" ">
            <p class='title'>Tarzan</p>
            <p class='description'> Tarzan, đã thích nghi với cuộc sống ở London, được gọi trở lại ngôi nhà cũ của mình trong rừng để điều tra các hoạt động tại một trại khai thác mỏ.</p>
        </li>
        <li>
            <img src="~/Content/MainLayout/images/2.jpg" alt=" ">
            <p class='title'>Maximum Ride</p>
            <p class='description'>Sáu đứa trẻ, được sinh ra với ADN chim, bay vòng quanh đất nước để khám phá nguồn gốc của chúng. Trên đường đi, quá khứ bí ẩn của họ là...</p>
        </li>
        <li>
            <img src="~/Content/MainLayout/images/3.jpg" alt=" ">
            <p class='title'>Independence</p>
            <p class='description'>Số phận của loài người đang nằm trong sự cân bằng khi Tổng thống Mỹ và công dân quyết định liệu những người ngoài hành tinh này có đáng tin cậy... hay sợ hãi.</p>
        </li>
        <li>
            <img src="~/Content/MainLayout/images/4.jpg" alt=" ">
            <p class='title'>Central Intelligence</p>
            <p class='description'>Bị bắt nạt khi còn là một thiếu niên vì thừa cân, Bob Stone (Dwayne Johnson) xuất hiện trong buổi họp mặt trường trung học của mình trông khỏe mạnh và cơ bắp. Yêu cầu được giữ bí mật...</p>
        </li>
        <li>
            <img src="~/Content/MainLayout/images/6.jpg" alt=" ">
            <p class='title'>Ice Age</p>
            <p class='description'>Trong phần tiếp theo của bộ phim, Scrat tiếp tục đấu tranh để kiểm soát con tàu ngoài hành tinh cho đến khi nó rơi xuống sao Hỏa, phá hủy tất cả sự sống trên hành tinh.</p>
        </li>
        <li>
            <img src="~/Content/MainLayout/images/7.jpg" alt=" ">
            <p class='title'>X - Man</p>
            <p class='description'>Vào năm 1977, các nhà điều tra siêu nhiên Ed (Patrick Wilson) và Lorraine Warren đến từ một cuộc hành trình tự áp đặt để đi du lịch đến Enfield, một thị trấn ở phía bắc...</p>
        </li>
    </ul>
</div>
<div class="banner-bottom" id="banner-bottom">
    @{
        var user = (DAM.Models.TaiKhoan)HttpContext.Current.Session["user"];
        <input type="hidden" id="userSession" value="@user" />
        if (user != null)
        {
            @Html.Action("TKPYTPartial", "YeuThich")
        }
        else
        {
            @Html.Action("Top7YTPartial", "YeuThich")
        }
    }
</div>
<div class="general">
    <h4 class="latest-text w3_latest_text">Phim</h4>
    <div class="container">
        <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Đang chiếu</a>
                </li>
                <li role="presentation">
                    <a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">Sắp chiếu</a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
                    <div class="w3_agile_featured_movies" id="phimDangChieu">
                        @Html.Action("PhimDangChieuPartial", "QLPhim")
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
                    @Html.Action("PhimSapChieuPartial", "QLPhim")
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
</div>