@using DAM.Models
@model IEnumerable<Phim>

<div class="col-md-4 single-right">
    <h3>Phim đang chiếu</h3>
    @foreach (var item in Model.Take(2))
    {
        <div class="single-grid-right">
            <div class="single-right-grids">
                <div class="col-md-4 single-right-grid-left">
                    <a href="@Url.Action("ChiTiet", "QLPhim", new { MaPhim = item.MaPhim })"><img src="@Url.Content("~/Content/MovieImages/"+item.HinhAnh)" alt="" /></a>
                </div>
                <div class="col-md-7 single-right-grid-right">
                    <a href="@Url.Action("ChiTiet", "QlPhim", new { MaPhim = item.MaPhim })" class="title"> @item.TenPhim</a>
                    <p class="author">@item.ThongTinPhim</p>
                </div>
                <div class="clearfix"> </div>
            </div>

        </div>
    }
</div>

