@model DAM.Models.ViewModel.SuatChieu_RapViewModel
@{
    ViewBag.Title = "SuaSCRap";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">
    <script>
        $(function () {
            $('#AlertBox').removeClass('hide');
            $('#AlertBox').delay(2000).slideUp(500);
        });
    </script>
    <script>
        $(function () {
            $("#datepicker").datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-5:+5",
                showOn: "both"
            });
        });
    </script>
}

<style>
    #form_TaoMoi {
        width: 820px;
        margin: 0 auto;
    }
</style>
<div id="form_TaoMoi">
    @using (Html.BeginForm("SuaSCRap", "RapChieu", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.MaSC, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("MaSC", null, new { @class = "form-control" })
                    <span class="text-danger">@ViewBag.errMaSC</span>
                    @Html.ValidationMessageFor(model => model.MaSC, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MaRap, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MaRap, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.MaRap, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NgayChieu, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @if (Model.NgayChieu != null)
                    {
                        @Html.TextBox("NgayChieu", Model.NgayChieu.ToString("dd/MM/yyyy"), new { @id = "datepicker", @readonly = "readonly" })
                        <span class="text-danger">@ViewBag.errNgayChieu</span>
                        @Html.ValidationMessageFor(model => model.NgayChieu, "", new { @class = "text-danger" })
                    }
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Cập nhật" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>
<div>
    @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-primary" })
</div>