@using DAM.Models
@using PagedList.Mvc
@model PagedList.IPagedList<DAM.Models.Phim>

@{
    ViewBag.Title = "KQTimKiem";
    Layout = "~/Views/Layout/TheLoaiPhimLayout.cshtml";
}

@{
    DA_WebTimKiemPhimEntities db = new DA_WebTimKiemPhimEntities();
    string color = "rgb(26, 140, 255)";
}

<div class="browse-agile-w3ls general-w3ls">
    <div class="tittle-head">
        <h4 class="latest-text">Kết quả tìm kiếm từ khóa: <text style="text-transform:none;">@ViewBag.TuKhoa</text></h4>
        <div class="container">
            <div class="agileits-single-top">
                <ol class="breadcrumb">
                    <li>
                        <a href="@Url.Action("Main","Main")">Trang chủ</a>
                    </li>
                    <li class="active">Tìm kiếm</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="browse-inner">
            @foreach (var item in Model)
            {
                if (Session["user"] != null)
                {
                    TaiKhoan TKDN = (TaiKhoan)Session["user"];
                    var tkyt = db.YeuThichs.FirstOrDefault(x => x.TenTK == TKDN.TenTK);
                    if (tkyt != null)
                    {
                        var pyt = db.YeuThich_Phim.FirstOrDefault(x => x.MaPhim == item.MaPhim && x.MaYT == tkyt.MaYT);
                        if (pyt != null)
                        {
                            color = "rgb(255, 26, 198)";
                        }
                        else
                        {
                            color = "rgb(26, 140, 255)";
                        }
                    }
                }
                <div class="col-md-2 w3l-movie-gride-agile">
                    <div class="hvr-shutter-out-horizontal">
                        <img src="@Url.Content("~/Content/MovieImages/" + item.HinhAnh)" title="album-name" alt=" " />
                        <div class="w3l-action-icon">
                            <a style="margin-bottom:10px;" href="@Url.Action("ChiTiet", "QLPhim", new { MaPhim = item.MaPhim })">Xem chi tiết</a>
                            <a style="margin-top:10px;" href="@Url.Action("DatVeNgay", "Ve", new { MaPhim = item.MaPhim , TenPhim = item.TenPhim})">Đặt vé ngay</a>
                        </div>
                    </div>
                    <div class="mid-1">
                        <div class="w3l-movie-text">
                            <h6>
                                <a href="@Url.Action("ChiTiet", "QLPhim", new { MaPhim = item.MaPhim })">@item.TenPhim</a>
                            </h6>
                        </div>
                        @if (Session["user"] == null)
                        {
                            <button class="btn btn-login-like" value="@item.MaPhim" style="color: @color; background-color:transparent; outline: none; box-shadow: none;"><i class="fa fa-heart"></i> Yêu thích</button>
                        }
                        else
                        {
                            <button class="btn btn-like" value="@item.MaPhim" style="color: @color; background-color:transparent; outline: none; box-shadow: none;"><i class="fa fa-heart"></i> Yêu thích</button>
                        }
                    </div>
                </div>
            }
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<div class="blog-pagenat-wthree">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("KQTimKiem", new { page = page, @TuKhoa = ViewBag.TuKhoa }))
</div>

